<h2>Education</h2>

<div>
  <div class="line">
    <h3>Horry-Georgetown Technical College</h3>
    <em>2010</em>
  </div>

  <span>Associate's in Computer Science with a Programming Emphasis</span>
</div>

<style>
  .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media only screen and (max-width: 600px) {
    .line {
      flex-direction: column;
      align-items: start;
    }
  }
</style>
