<h2>Education</h2>

<div>
  <div class="line">
    <h3>Horry-Georgetown Technical College</h3>
    <em>2010</em>
  </div>

  <span>Associate's in Computer Science with a Programming Emphasis</span>
</div>
