---
import { getEntry } from "astro:content";

const werktek = await getEntry("experience", "werktek");
const greenshades = await getEntry("experience", "greenshades");
const webData = await getEntry("experience", "web-data");

const jobs = [
  { ...werktek, render: await werktek.render() },
  { ...greenshades, render: await greenshades.render() },
  { ...webData, render: await webData.render() },
];
---

<h2>Experience</h2>

{
  jobs.map((job) => (
    <div class="job">
      <div class="line">
        <h3>{job.data.company}</h3>
        <em>{job.data.location}</em>
        <em>{job.data.dates}</em>
      </div>
      <strong>{job.data.position}</strong>
      <job.render.Content />
    </div>
  ))
}

<style>
  .job:not(:first-of-type) {
    margin-top: 2rem;
  }
</style>
