---
import { getEntry } from "astro:content";

const webData = await getEntry("experience", "web-data");
const greenshades = await getEntry("experience", "greenshades");
const werktek = await getEntry("experience", "werktek");

const jobs = [
  { ...werktek, render: await webData.render() },
  { ...greenshades, render: await greenshades.render() },
  { ...webData, render: await werktek.render() },
];
---

<h2>Experience</h2>

{
  jobs.map((job) => (
    <div class="job">
      <div class="line">
        <h3>{job.data.company}</h3>
        <em>{job.data.location}</em>
        <em>{job.data.dates}</em>
      </div>
      <strong>{job.data.position}</strong>
      <job.render.Content />
    </div>
  ))
}

<style>
  .job:not(:first-of-type) {
    margin-top: 2rem;
  }

  .line {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media only screen and (max-width: 600px) {
    .line {
      flex-direction: column;
      align-items: start;
    }
  }
</style>
