---
const emailId = 'id' + Math.random().toString(16).slice(2);
const phoneId = 'id' + Math.random().toString(16).slice(2);
---

<header>
  <div class="full-name">
    <span class="first-name">David</span>
    <span class="last-name">Cabiness</span>
  </div>
  <div class="contact-info">
    <div>
      <span>Full Stack Web Developer</span>
      <span>https://davidcabiness.com</span>
    </div>
    <div>
      <span id={emailId}></span>
      <span id={phoneId}></span>
    </div>
  </div>
</header>

<script define:vars={{ emailId, phoneId }}>
  const e = document.getElementById(emailId);
  if(e) e.innerText = ['dcabines','@','gmail', '.', 'com'].join('');

  const p = document.getElementById(phoneId);
  if(p) p.innerText = ['843', '957', '2476'].join('-');
</script>

<style>
  .full-name {
    text-transform: uppercase;
    margin-bottom: 5px;
    display: flex;
    gap: 1rem;
    line-height: 2rem;
  }

  .full-name > * {
    font-size: 2.5rem;
  }

  .first-name {
    font-weight: 700;
  }

  .last-name {
    font-weight: 300;
  }

  .contact-info {
    display: flex;
  }

  .contact-info > div {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .contact-info > div:last-child {
    text-align: right;
  }

  @media only screen and (max-width: 600px) {
    .contact-info {
      display: block;
    }

    .contact-info > div:last-child {
      text-align: left;
    }
  }

  @media print {
    .full-name {
      text-transform: none;
    }

    .first-name {
      font-weight: normal;
    }

    .last-name {
      font-weight: normal;
    }
  }
</style>
