<a href="https://github.com/dcabines/davidcabiness.com" target="_blank">
    View source on GitHub.com
</a>

<style>
  a {
    position: fixed;
    bottom: 0;
    right: 0;
    background: var(--color-grey5);
    font-family: monospace;
    color: white;
    padding: 1ch;
    border-radius: 1ch 0 0 0;
    text-decoration: none;
  }

  @media only screen and (max-width: 600px) {
    a {
        display: none;
    }
  }

  @media print {
    a {
        display: none;
    }
  }
</style>
