---
const columns = [
  ["C# .NET & ASP.NET", "JavaScript & TypeScript", "HTML & CSS"],
  ["Angular & NgRx", "T-SQL", "Docker & Linux"],
  ["HTTP & Web API", "git, PowerShell & Bash", "Azure DevOps"],
];
---

<h2>Languages and Technologies</h2>

<div>
  {
    columns.map((column) => (
      <ul>
        {column.map((item) => (
          <li>{item}</li>
        ))}
      </ul>
    ))
  }
</div>

<style>
  div {
    display: flex;
    justify-content: space-between;
    min-width: 70ch;
  }

  @media only screen and (max-width: 600px) {
    div {
      display: block;
      min-width: 0;
    }
  }
</style>
