---
import { getEntry } from 'astro:content';

const tech1 = await getEntry('tech', 'tech1');
const tech2 = await getEntry('tech', 'tech2');
const tech3 = await getEntry('tech', 'tech3');

const columns = [
  { ...tech1, render: await tech1.render() },
  { ...tech2, render: await tech2.render() },
  { ...tech3, render: await tech3.render() }
];
---

<h2>Languages and Technologies</h2>

<div>
  {
    columns.map((column) => (
      <column.render.Content />
    ))
  }
</div>

<style>
  div {
    display: flex;
    justify-content: space-between;
    min-width: 70ch;
  }

  @media only screen and (max-width: 600px) {
    div {
      display: block;
      min-width: 0;
    }
  }
</style>
