<header>
  <div class="full-name">
    <span class="first-name">David</span>
    <span class="last-name">Cabiness</span>
  </div>
  <div class="contact-info">
    <div>
      <span>Full Stack Web Developer</span>
      <span>https://davidcabiness.com</span>
    </div>
    <div>
      <span>dcabines@gmail.com</span>
      <span>843-957-2476</span>
    </div>
  </div>
</header>

<style>
  .full-name {
    text-transform: uppercase;
    margin-bottom: 5px;
    display: flex;
    gap: 1rem;
    line-height: 2rem;
  }

  .full-name > * {
    font-size: 2.5rem;
  }

  .first-name {
    font-weight: 700;
  }

  .last-name {
    font-weight: 300;
  }

  .contact-info {
    display: flex;
  }

  .contact-info > div {
    flex: 1;
  }

  .contact-info > div:last-child {
    text-align: right;
  }

  .contact-info > div > span {
    display: block;
  }

  @media print {
    .full-name {
      text-transform: none;
    }

    .first-name {
      font-weight: normal;
    }

    .last-name {
      font-weight: normal;
    }

    .contact-info {
      display: block;
    }

    .contact-info > div:last-child {
      text-align: left;
    }
  }
</style>
