<header>
  <div class="full-name">
    <span class="first-name">David</span>
    <span class="last-name">Cabiness</span>
  </div>
  <div class="contact-info">
    <span>Software Developer</span>
    <span class="separator"></span>
    <span>dcabines@gmail.com</span>
    <span class="separator"></span>
    <span>843-957-2476</span>
    <span class="separator"></span>
    <span>
      <a href="http://davidcabiness.com">https://davidcabiness.com</a>
    </span>
  </div>
</header>

<style>
  header {
    margin-bottom: 2rem;
  }

  .full-name {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 5px;
    display: flex;
    gap: 1rem;
    line-height: 2rem;
  }

  .first-name {
    font-weight: 700;
  }

  .last-name {
    font-weight: 300;
  }

  .contact-info {
    display: flex;
    align-items: center;
    gap: 1ch;
  }

  .separator {
    height: 10px;
    display: inline-block;
    border-left: 2px solid #999;
  }

  a {
    text-decoration: none;
    color: var(--color-text);
  }

  @media print {
    .full-name {
      text-transform: none;
    }

    .first-name {
      font-weight: normal;
    }

    .last-name {
      font-weight: normal;
    }

    .contact-info {
      display: block;
    }

    .contact-info span {
      display: block;
    }

    .contact-info .separator {
      display: none;
    }
  }
</style>
