---
import Layout from "../layouts/main.astro";
import Header from '../parts/header.astro';
import About from "../content/about.md";
import Tech from "../content/tech.md";
import Experience from "../content/experience.md";
---

<link
  slot="head"
  href="https://fonts.googleapis.com/css?family=Lato:400,300,700"
  rel="stylesheet"
  type="text/css"
/>

<Layout>
  <main>
    <Header />

    <article>
      <section>
        <About />
      </section>

      <section>
        <Tech />
      </section>

      <section>
        <Experience />
      </section>
    </article>
  </main>
</Layout>

<style is:global>
  h2 {
    color: var(--color-dimmed4);
    display: block;
    border-bottom: 1px solid black;
  }

  h3 {
    color: var(--color-dimmed3);
    margin-top: 1rem;
  }

  li {
    margin-left: 1rem;
  }
</style>

<style>
  body {
    min-height: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1rem;
    font-family: "Lato", sans-serif;
    background: var(--color-dimmed0);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    width: 80vw;
    min-width: fit-content;
    color: var(--color-text);
    background: var(--color-background);
    box-shadow: 1px 1px 2px var(--color-dimmed1);
    border-radius: 3px;
    padding: 40px;
    margin-top: 50px;
  }

  section {
    margin: 1rem 0;
  }
</style>
