---
import MainMenu from '../parts/main-menu.astro';
import { ViewTransitions } from "astro:transitions";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="David Cabiness's Resume">
    <title>David Cabiness</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,300,700" rel="stylesheet" type="text/css" />
    <ViewTransitions />
  </head>
  <body>
    <!-- <MainMenu /> -->
    <slot />
  </body>
</html>

<style is:global>
  * {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    box-sizing: border-box;
    --color-background: #fff;
    --color-text: #222;
    --color-body: #eee;
    --color-grey1: #c1c0c0;
    --color-grey2: #939293;
    --color-grey3: #727072;
    --color-grey4: #5b595c;
    --color-grey5: #403e41;
  }

  html {
    height: 100vh;
    font-size: 16px;
    line-height: 1.5rem;
    font-family: "Lato", sans-serif;
  }
</style>
