---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>David Cabiness</title>
    <slot name="head"></slot>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-background: #fff;
    --color-text: #222;
    --color-body: #eee;
    --color-grey1: #c1c0c0;
    --color-grey2: #939293;
    --color-grey3: #727072;
    --color-grey4: #5b595c;
    --color-grey5: #403e41;
  }

  html {
    height: 100vh;
  }
</style>
